<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://releases.jquery.com/git/jquery-3.x-git.js"></script>
    <link rel="stylesheet" href="animacionIndex.css">
    
    <%- include('partials/head') %>
   
</head>
<body>
    <%- include('partials/nav') %>
    <%- include('partials/fondo') %>
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/proyectos/datos_mios/yo v2.jpg" alt="" class="w-25">
            <h1 id="weirdtext" class="display-2 my-4 text-uppercase fw-bold text-center">Manasés Jiménez</h1>
            <a href="/proyectos/datos_mios/Cv_Manases_Ricardo_Jimenez_Paiz.pdf" class="btn btn-primary w-25">Descarga mi CV</a>
        </div>
    </header>

    <%- include('partials/javascrip') %>
    <script src="js/efectoIndex.js"></script>
</body>
</html>