*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202020;
    color: white;
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.dev{
    color: red;
}
.ana{
    color: #2fb4cc;
}
.efi{
    color: limegreen;
}
.res{
    color: rgb(206, 113, 59);
}

/*----------------------------------- responsive para el index -----------------------------------*/
/*No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }`*/
